[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
tensorflow = "*"
joblib = "*"
flake8 = "*"
Flask = "*"
Keras = "*"
pandas = "*"
sklearn = "*"
tensorflow-hub = ">=0.3"
flask-restplus = "*"

[requires]
python_version = "3.7"
